In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## POISSON & POISSON

In [2]:
tec = np.random.poisson(5, 1000)
ts = np.random.poisson(5, 1000)

In [3]:
data = {'tec': tec, 'ts' : ts}
df1 = pd.DataFrame(data=data)
df1.head()

   tec  ts
0    9   4
1    3   4
2    4  10
3    5   6
4    3   6

## POISSON & TRIANGULAR

In [23]:
tec = np.random.poisson(5, 1000)
ts = np.random.triangular(9, 11, 13, 1000)

In [26]:
data = {'tec': tec, 'ts' : ts}
df2 = pd.DataFrame(data=data)
df2.head()

   tec         ts
0    5  10.112310
1    7  10.061073
2    5   9.986680
3    3   9.815109
4    7   9.982589

## POISSON & NORMAL

In [24]:
mu, sigma = 10, 0.1
tec = np.random.poisson(5, 1000)
ts = np.random.normal(mu, sigma, 1000)

In [27]:
data = {'tec': tec, 'ts' : ts}
df3 = pd.DataFrame(data=data)
df3.head()

   tec         ts
0    5  10.112310
1    7  10.061073
2    5   9.986680
3    3   9.815109
4    7   9.982589

## POISSON & EXPONENCIAL

In [31]:
tec = np.random.poisson(5, 1000)
ts = np.random.exponential(10, 1000)

In [32]:
data = {'tec': tec, 'ts' : ts}
df4 = pd.DataFrame(data=data)
df4.head()

   tec         ts
0    3   6.063832
1    7   6.120075
2    6  11.883813
3    2  16.975809
4    3   5.076456

## TRIANGULAR & TRIANGULAR

In [4]:
tec = np.random.triangular(9, 11, 13, 100000)
ts = np.random.triangular(9, 11, 13, 100000)

In [33]:
data = {'tec': tec, 'ts' : ts}
df5 = pd.DataFrame(data=data)
df5.head()

   tec         ts
0    3   6.063832
1    7   6.120075
2    6  11.883813
3    2  16.975809
4    3   5.076456

## TRIANGULAR & NORMAL

In [38]:
tec = np.random.triangular(9, 11, 13, 1000)
ts = np.random.normal(mu, sigma, 1000)

In [39]:
data = {'tec': tec, 'ts' : ts}
df6 = pd.DataFrame(data=data)
df6.head()

ValueError: arrays must all be same length

## EXPONENCIAL & EXPONENCIAL

In [6]:
tec = np.random.exponential(10, 100)
ts = np.random.exponential(10, 100)

In [34]:
data = {'tec': tec, 'ts' : ts}
df6 = pd.DataFrame(data=data)
df6.head()

   tec         ts
0    3   6.063832
1    7   6.120075
2    6  11.883813
3    2  16.975809
4    3   5.076456

## NORMAL & NORMAL

In [20]:
mu, sigma = 10, 0.1
tec = np.random.normal(mu, sigma, 1000)
ts = np.random.normal(mu, sigma, 1000)

In [35]:
data = {'tec': tec, 'ts' : ts}
df7 = pd.DataFrame(data=data)
df7.head()

   tec         ts
0    3   6.063832
1    7   6.120075
2    6  11.883813
3    2  16.975809
4    3   5.076456