In [2]:
%pylab inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

C:\Users\Inventario-LSE\Anaconda3\lib\site-packages\IPython\core\magics\pylab.py:161: UserWarning: pylab import has clobbered these variables: ['dist']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

# Tempo Livre do Operador

In [10]:
dist_tec = ['Poisson', 'Poisson', 'Poisson', 'Poisson',
        'Triangular', 'Triangular', 'Triangular', 'Triangular',
        'Exponencial', 'Exponencial', 'Exponencial', 'Exponencial',
        'Normal', 'Normal', 'Normal', 'Normal']

dist_ts = ['Poisson', 'Triangular', 'Exponencial', 'Normal',
           'Triangular', 'Poisson', 'Exponencial', 'Normal',
           'Exponencial', 'Poisson', 'Triangular', 'Normal',
           'Normal', 'Poisson', 'Triangular', 'Exponencial']

values = [1171, 28.50292066, 1160.574864, 16.2963538,
          489.9440637, 6018.601793, 4487.515943, 1097.550407,
          5130.10, 6315.702513, 3032.596704, 3184.307446,
          57.80542378, 5070.928242, 43.66200771, 3443.306427]

data = {
    'distribuicao do TEC': dist_tec,
    'distribuicao do TS': dist_ts,
    'valores': values
}
tempo_livre_do_operador = pd.DataFrame(data=data)

In [11]:
tempo_livre_do_operador.head()

  distribuicao do TEC distribuicao do TS      valores
0             Poisson            Poisson  1171.000000
1             Poisson         Triangular    28.502921
2             Poisson        Exponencial  1160.574864
3             Poisson             Normal    16.296354
4          Triangular         Triangular   489.944064

# Tempo livre mínimo entre as distribuições

In [12]:
tempo_livre_do_operador[tempo_livre_do_operador['valores'] == tempo_livre_do_operador['valores'].min()]

  distribuicao do TEC distribuicao do TS    valores
3             Poisson             Normal  16.296354

# Tempo livre máximo entre as distribuições

In [13]:
tempo_livre_do_operador[tempo_livre_do_operador['valores'] == tempo_livre_do_operador['valores'].max()]

  distribuicao do TEC distribuicao do TS      valores
9         Exponencial            Poisson  6315.702513

# Tempos em que A distribuição usada para Tempo de Serviço era a Triangular

In [15]:
tempo_livre_do_operador[tempo_livre_do_operador['distribuicao do TS'] == 'Triangular']

   distribuicao do TEC distribuicao do TS      valores
1              Poisson         Triangular    28.502921
4           Triangular         Triangular   489.944064
10         Exponencial         Triangular  3032.596704
14              Normal         Triangular    43.662008